/* #wave { */
    /* position: absolute; */
    /* height: 300px; */
    /* width: 600px; */
    /* background:teal; */
/* } */

  .item {
      float: right;

  }
  body {
      font: #darkaquamarine;
  }

      .content {
          margin: 50px;
          padding: 50px;
          height: fit-content;
          width: fit-content;
      }

  }
  .footer {
    position: fixed;
    left: 0; 
    bottom: 0; 
    height: 10px;
    width: 100%;
    background-color: darkturquoise;
    color: darkturquoise;
    text-align: center;
 }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }