
element.style {
    -webkit-user-select: none;
    margin: auto;
    /* cursor: zoom-in; */
}
img{
    width: 885px;
    height: 646px;
}

html {
    display: block;
}

body {
    display: block;
    margin: 8px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }